.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#wiget-left {
    height: 500px;
    position: sticky;
    top: 10px;
}

#level-max-height {
    max-height: 322px;
    overflow: auto;
}